@model WebApplication1.Models.QuestionGroupListViewModel
@{
	ViewBag.Title = "Список групп вопросов";
}

<h2>@ViewBag.Title</h2>
<p class="text-info">
	Список групп вопросов
</p>


@*@Html.RadioButtonFor(x => x.Answers[0], "Milk", new { Name = "group1"})
	@Html.RadioButtonFor(x => x.Answers[1], "Butter", new { Name = "group1" })*@

@*<h4>Название группы вопросов:</h4>*@

<h4>Registered Logins</h4>
<table class="table">
	<tbody>
		@foreach (var qg in Model.QuestionGroups)
		{
			<tr>
				<td>@qg.Name</td>
				<td>
					@Html.ActionLink("Редактировать", "EditQuestionGroup", new { id = qg.ID })
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
